doctype
html(lang="en")
    include parts/head.pug
    body
        include parts/navbar.pug
        include parts/modal.pug
        if status
                include parts/alert.pug
        div.container-fluid.p-4.d-flex.flex-wrap.justify-content-center
            
            
            each product in products

                div.card.m-2(style="width: 18rem;")
                    img.card-img-top(src=product.img, alt="Card image cap")
                    div.card-body
                        h5.card-title #{product.name} #{product.price}₺
                        p.card-text #{product.description} 
                        button.add-to-cart.btn.btn-primary(id=product.id) <i class="fas fa-cart-plus"></i> &nbsp;Add to cart
  
        script(src="script.js")
        


    